'.platform-darwin, .platform-win32, .platform-linux':
    # disable default ctrl-k keybindings
    'ctrl-k ctrl-b': 'unset!'

    # disable bindings from fuzzy-finder package
    'ctrl-p': 'unset!'

    # recreate emacs bindings
    'ctrl-g': 'core:cancel'


'.platform-win32 atom-text-editor, .platform-linux atom-text-editor':
    # disable default ctrl-k keybindings
    'ctrl-k ctrl-d': 'unset!'

    # disable bindings from find-and-replace package
    'ctrl-d': 'unset!'
    'ctrl-e': 'unset!'


'body':
    # disable default ctrl-k keybindings
    "ctrl-k up": "unset!"
    "ctrl-k down": "unset!"
    "ctrl-k left": "unset!"
    "ctrl-k right": "unset!"
    "ctrl-k ctrl-w": "unset!"
    "ctrl-k alt-ctrl-w": "unset!"
    "ctrl-k ctrl-p": "unset!"
    "ctrl-k ctrl-n": "unset!"
    "ctrl-k ctrl-up": "unset!"
    "ctrl-k ctrl-down": "unset!"
    "ctrl-k ctrl-left": "unset!"
    "ctrl-k ctrl-right": "unset!"

    # recreate emacs bindings
    'alt-w': 'core:copy'
    'alt-x': 'command-palette:toggle'
    'ctrl-n': 'core:move-down'
    'ctrl-p': 'core:move-up'
    'ctrl-w': 'core:cut'
    'ctrl-x 0': 'pane:close'
    'ctrl-x 1': 'pane:close-other-items'
    'ctrl-x 2': 'pane:split-down'
    'ctrl-x 3': 'pane:split-right'
    'ctrl-x b': 'fuzzy-finder:toggle-buffer-finder'
    'ctrl-x ctrl-f': 'fuzzy-finder:toggle-file-finder'
    'ctrl-x k': 'core:close'
    'ctrl-x o': 'window:focus-next-pane'


'atom-workspace atom-text-editor':
    # disable default ctrl-k keybindings
    "ctrl-k ctrl-u": "unset!"
    "ctrl-k ctrl-l": "unset!"

    # recreate emacs bindings
    'alt-;': 'editor:toggle-line-comments'
    'alt-.': 'symbols-view:toggle-file-symbols'
    'alt-{': 'editor:move-to-beginning-of-previous-paragraph'
    'alt-}': 'editor:move-to-beginning-of-next-paragraph'
    'alt-/': 'autocomplete:toggle'
    'alt-<': 'core:move-to-top'
    'alt->': 'core:move-to-bottom'
    'alt-b': 'editor:move-to-beginning-of-word'
    'alt-backspace': 'editor:delete-to-beginning-of-word'
    'alt-d': 'editor:delete-to-end-of-word'
    'alt-f': 'editor:move-to-end-of-word'
    'alt-g alt-g': 'go-to-line:toggle'
    'alt-m': 'editor:move-to-first-character-of-line'
    'alt-q': 'autoflow:reflow-selection'
    'alt-v': 'core:page-up'
    'ctrl-_': 'core:undo'
    'ctrl-/': 'core:undo'
    'ctrl-a': 'editor:move-to-beginning-of-line'
    'ctrl-b': 'core:move-left'
    'ctrl-d': 'core:delete'
    'ctrl-e': 'editor:move-to-end-of-screen-line'
    'ctrl-f': 'core:move-right'
    'ctrl-g': 'core:cancel'
    'ctrl-j': 'editor:newline'
    'ctrl-r': 'find-and-replace:show'
    'ctrl-s': 'find-and-replace:show'
    'ctrl-shift-backspace': 'editor:delete-line'
    'ctrl-t': 'editor:transpose'
    'ctrl-v': 'core:page-down'
    'ctrl-x ctrl-c': 'core:close'
    'ctrl-x ctrl-l': 'editor:lower-case'
    'ctrl-x ctrl-s': 'core:save'
    'ctrl-x ctrl-u': 'editor:upper-case'
    'ctrl-x h': 'core:select-all'
    'ctrl-x s': 'window:save-all'
    'ctrl-y': 'core:paste'

    # disabled because the semantics are slightly different than emacs
    #'ctrl-l': 'editor:scroll-to-cursor'
    #'ctrl-o': 'editor:newline-above'

"atom-workspace atom-text-editor:not([mini])":
    # disable default ctrl-k keybindings
    "ctrl-k ctrl-0": "unset!"
    "ctrl-k ctrl-1": "unset!"
    "ctrl-k ctrl-2": "unset!"
    "ctrl-k ctrl-3": "unset!"
    "ctrl-k ctrl-4": "unset!"
    "ctrl-k ctrl-5": "unset!"
    "ctrl-k ctrl-6": "unset!"
    "ctrl-k ctrl-7": "unset!"
    "ctrl-k ctrl-8": "unset!"
    "ctrl-k ctrl-9": "unset!"
